[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
click = "*"
pydantic = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.9"

[black]
line-length = 120
target-version = [ "py39",]
skip-string-normalization = true

[isort]
profile = "black"
line_length = 120
py_version = 39

[mypy]
ignore_missing_imports = true
